.jfx-combo-box {
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}


.combo-box-popup {
    -fx-background-color: #309bd1;
    -fx-border-color: #309bd1;
}

.combo-box-popup .list-view
{
    -fx-background-color: #309bd1;
}

.combo-box-popup .list-view .list-cell
{
    -fx-text-fill: white;
    -fx-background-color: #309bd1;
}

.combo-box-popup .list-view .list-cell:hover
{
    -fx-text-fill: #309bd1;
    -fx-background-color: white;
}

.combo-box  .list-cell {
    -fx-text-fill: white;
}

.combo-box .arrow, .combo-box .arrow-button{
    -fx-background-color: transparent;
}